{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}的主页</h1>
    {% if user == current_user %}
    <a href="{{ url_for('users.edit_profile')}}">修改个人信息</a>
    {% elif not current_user.is_following(user) %}
    <form action="{{ url_for('users.follow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value="关注") }}
    </form>
    {% else %}
    <form action="{{ url_for('users.unfollow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value="取关") }}
    </form>
    {% endif %}
    {% if user.last_seen %}
    <p>上次登录时间：{{ moment(user.last_seen).format('LLL') }}</p>
    {% endif %}
    <p>个人简介：{{ user.about_me }}</p>
    <p>关注：{{ user.followed.count() }}，粉丝：{{ user.followers.count() }}</p>
    <p>TA的博客：</p>
    {% if not posts %}<p>（空）</p>{% else %}
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">上一页</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">下一页</a>
    {% endif %}
    {% endif %}
{% endblock %}