<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    {% if title %}
    <title>{{ title }} - 佩帕仓库</title>
    {% else %}
    <title>欢迎来到佩帕仓库</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css"/>
    {% block css %}{% endblock %}
</head>
<body>
    <div>
        Paper Warehouse:
        <a href="{{ url_for('index') }}">首页</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">登录</a>
        |
        <a href="{{ url_for('register') }}">注册</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">个人主页</a>
        <a href="{{ url_for('logout')}}">退出登录</a>
        {% endif %}
        </div>
    <hr />
    {# 使用with结构来获得一个临时变量 #}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>