{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}</h1>
    <p>欢迎来到佩帕仓库！</p>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }} <br/>
            {{ form.post(class="post-textbox") }}<br />
            {% for error in form.post.errors %}
            <span class="error-text">{{ error }}</span><br/>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}