{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<h1>用户注册</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br/>
        {{ form.username(size=32) }}<br/>
        {% for error in form.username.errors %}
        <span style="error-text">{{ error }}</span><br/>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br/>
        {{ form.email(size=32) }}<br/>
        {% for error in form.email.errors %}
        <span style="error-text">{{ error }}</span><br/>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br/>
        {{ form.password(size=32) }}<br/>
        {% for error in form.password.errors %}
        <span style="error-text">{{ error }}</span><br/>
        {% endfor %}
    </p>
    <p>
        {{ form.repeat_password.label }}<br/>
        {{ form.repeat_password(size=32) }}<br/>
        {% for error in form.repeat_password.errors %}
        <span style="error-text">{{ error }}</span><br/>
        {% endfor %}
    </p>
    {{ form.submit }}
</form>
{% endblock %}
